footer {
    background-color: var(--background-dark);
    font-family: var(--font-body);
    color: var(--text-light);
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    bottom: 0;
}