.admin-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.admin-main {
    flex: 1;
    padding: var(--spL);
}

.title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fsXL);
    font-weight: bold;
    margin-bottom: var(--spM);
}

button {
    cursor: pointer;
    padding: var(--spXS) var(--spM);
    right: 0;
}